<div style="padding-top: 40px" class="my-3">
  <h2>Your Tasks</h2>
</div>
<!-- <ul >
    <li ><div><div>Task</div><div>Description</div><div>Due Date</div></li>
    
</ul> -->
<ng-container *ngIf="response; else elseblock">
  <ul *ngFor="let value of response.task" class="list-group">
    <li class="list-group-item">
      {{ value.task }}

      <div style="display: inline; padding-left: 30px; cursor: pointer">
        {{ value.description }}
        <div style="display: inline; padding-left: 30px">
          {{ value.due_date | date: "mediumDate" }}
        </div>
        <fa-icon
          (click)="editTasks(value)"
          style="padding-left: 30px; cursor: pointer"
          [icon]="faEdit"
        ></fa-icon>
        <fa-icon
          (click)="deleteTasks(value._id)"
          style="padding-left: 30px"
          [icon]="faTrash"
        ></fa-icon>
      </div>
    </li>
  </ul>
</ng-container>
<ng-template #elseblock>
  <h5>No Tasks Found</h5>
</ng-template>
